[submodule "thirdparty/typescript-go"]
	path = thirdparty/typescript-go
	url = https://github.com/microsoft/typescript-go
[submodule "thirdpartyastro-compiler"]
	path = thirdparty/astro-compiler
	url = https://github.com/withastro/compiler
	shallow = true
[submodule "thirdparty/typescript"]
	path = thirdparty/typescript
	url = https://github.com/microsoft/typescript
	shallow = true
