:root {
	--ac: 0.08;
	--ah: 184deg;

	--gc: 0.02;
	--gh: 230deg;
}

:root,
:root[data-theme='dark'] {
	--sl-color-accent-low: oklch(25% calc(var(--ac) / 3) var(--ah));
	--sl-color-accent: oklch(50% var(--ac) var(--ah));
	--sl-color-accent-high: oklch(85% calc(var(--ac) / 1.5) var(--ah));

	--sl-color-white: oklch(99% calc(var(--ac) / 4) var(--ah));
	--sl-color-gray-1: oklch(94% calc(var(--gc) / 2.5) var(--gh));
	--sl-color-gray-2: oklch(81% calc(var(--gc) / 2) var(--gh));
	--sl-color-gray-3: oklch(63% var(--gc) var(--gh));
	--sl-color-gray-4: oklch(46% var(--gc) var(--gh));
	--sl-color-gray-5: oklch(40% var(--gc) var(--gh));
	--sl-color-gray-6: oklch(35% var(--gc) var(--gh));
	--sl-color-black: oklch(30% calc(var(--gc) / 2) var(--gh));

  --sl-color-bg: oklch(20% calc(var(--ac) / 8) var(--ah));
}

:root[data-theme='light'] {
	--sl-color-accent-low: oklch(87.81% calc(var(--ac) / 4) var(--ah));
	--sl-color-accent: oklch(52.95% var(--ac) var(--ah));
	--sl-color-accent-high: oklch(31.77% calc(var(--ac) / 2) var(--ah));

	--sl-color-white: oklch(20% calc(var(--gc) / 2) var(--gh));
	--sl-color-gray-1: oklch(27% var(--gc) var(--gh));
	--sl-color-gray-2: oklch(34% var(--gc) var(--gh));
	--sl-color-gray-3: oklch(46% var(--gc) var(--gh));
	--sl-color-gray-4: oklch(63% var(--gc) var(--gh));
	--sl-color-gray-5: oklch(81% calc(var(--gc) / 2) var(--gh));
	--sl-color-gray-6: oklch(85% calc(var(--gc) / 2.5) var(--gh));
	--sl-color-gray-7: oklch(90% calc(var(--gc) / 5) var(--gh));
	--sl-color-black: oklch(99.9% calc(var(--ac) / 8) var(--ah));

  --sl-color-bg: oklch(98% calc(var(--ac) / 5) var(--ah));
}

:root {
  --sl-color-bg-sidebar: var(--sl-color-bg);
  --sl-color-bg-nav: var(--sl-color-bg);
}
